.key_provider {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

.key_input {
  flex-grow: 1;
  flex-shrink: 1;

  height: 100%;

  display: block;

  resize: none;
}

.key_provider button {
  display: block;

  width: 100%;
  margin-top: 0.5rem;
}
