.decrypt_section {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

.decrypt_input {
  display: flex;
}

.decrypt_message {
  flex-grow: 1;
}

.decrypt_btn {
  min-width: 12rem;
  margin-left: 0.5rem;
}

.decrypt_output {
  flex-grow: 1;
  flex-shrink: 1;

  height: 100%;
  margin-top: 0.5rem;
  padding: var(--padding);

  display: block;

  resize: none;
}
